.page-title{
  text-align: center;
}

.container{
  width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  .single-comic{
    width: 400px;
    margin: 30px;
    border: 2px solid black;
  }
}
